/* Rules for Font Icons*/
$f18: 18px;
$f24: 24px;
$f36: 36px;
$f48: 48px;

$fontIcon-dark:rgba(0, 0, 0, 0.54);
$fontIcon-dark_inactive: rgba(0, 0, 0, 0.26);

$fontIcon-light:rgba(255, 255, 255, 1);
$fontIcon-light_inactive: rgba(255, 255, 255, 0.3);

$fontIcon-margin_right:20px;
$fontIcon-margin_left:20px;